---
import { ERSHILIU_THEME } from "../config";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<header>
  <div class="flex items-center justify-between">
    <button
      id="theme-toggle"
      class="border rounded-md w-6 h-6 flex items-center justify-center"
      aria-label="Toggle mode"
      type="button"
    >
      26
    </button>
    <nav class="ml-auto text-sm font-medium space-x-6">
      {ERSHILIU_THEME.nav.map((item) => (
        <a
          key={item.label}
          href={item.href}
          target={item.external ? "_blank" : undefined}
          rel={item.external ? "noopener noreferrer" : undefined}
        >
          {item.label}
        </a>
      ))}
    </nav>
  </div>
</header>

<script is:inline>
  (() => {
    const toggleTheme = () => {
      const d = document.documentElement;
      const c = d.classList;
      const currentTheme = localStorage.getItem('theme');
      
      let newTheme;
      if (c.contains('dark')) {
        newTheme = 'light';
        c.remove('dark');
        c.add('light');
      } else {
        newTheme = 'dark';
        c.remove('light');
        c.add('dark');
      }
      
      localStorage.setItem('theme', newTheme);
      d.style.colorScheme = newTheme;
    };

    const themeToggle = document.getElementById('theme-toggle');
    themeToggle?.addEventListener('click', toggleTheme);
    
    document.addEventListener('astro:after-swap', () => {
      const themeToggle = document.getElementById('theme-toggle');
      themeToggle?.addEventListener('click', toggleTheme);
    });
  })();
</script>
