---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import PostLayout from '../layouts/PostLayout.astro';
---

<PostLayout title="关于我" slug="about" pubDate={new Date()} enableComments={false} heroImage={AboutHeroImage}>
		<p>关于博主：</p>
		<p>00后，湖北襄阳人，性格随和，风趣幽默</p>
		<p>目前居住在湖北武汉，未来计划定居江苏南京</p>
		<p>博客简介：</p>
		<p>博客框架：Hugo（<a href="https://gohugo.io">https://gohugo.io</a>）</p>
		<p>数据存储：GitHub（<a href="https://github.com">https://github.com</a>）</p>
		<p>网站图标： Remix Icon （<a href="https://remixicon.com">https://remixicon.com</a>）</p>
		<p>博客主题：自用不开源</p>
		<p>网站托管：多吉云、又拍云（国内）Vercel（境外）</p>
</PostLayout>
