---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostsLists from "../components/PostsLists.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";
---

<BaseLayout>
  <main>
   <PostsLists></PostsLists>
  </main>
</BaseLayout>
