---
import "../styles/global.css";
import { SITE_CONFIG } from "../config";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description?: string;
  image?: ImageMetadata;
  pubDate?: Date;
  updatedDate?: Date;
  type?: "website" | "article";
  author?: string;
  keywords?: string[];
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title,
  description,
  pubDate,
  updatedDate,
  type = "website",
  author = SITE_CONFIG.author,
  keywords = []
} = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>{title}</title>
{description && <meta name="description" content={description} />}
<link rel="icon" type="image/jpeg" href="/favicon.jpg?v=2" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="canonical" href={canonicalURL} />
<ClientRouter />
