---
import type { CollectionEntry } from "astro:content";
import ArtalkComment from "./ArtalkComment.astro";
import GiscusComment from "./GiscusComment.astro";

interface Props {
  post: any;
  system?: "artalk" | "giscus";
}

const { post, system = "artalk" } = Astro.props;
const path = Astro.url.pathname;

---

<div class="card-base p-6 mb-4">
  {system === "artalk" && <ArtalkComment pageKey={path} />}
  {system === "giscus" && <GiscusComment path={path} />}
</div>