---
import { SITE_CONFIG } from "../config";

const today = new Date();
---

<footer class="mt-8">
  <div class="foot-container flex items-center justify-between">
    <div class="copy text-md">
      &copy; {today.getFullYear()} · <a href="https://beian.miit.gov.cn" target="_blank">{SITE_CONFIG.beianCode}</a>
    </div>
    <div class="social-links hidden md:flex items-center justify-end space-x-6 text-sm">
      <a href="https://m.webtoo.ls/@astro" target="_blank" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100 transition">
        <i class="ri-mastodon-fill text-2xl"></i>
      </a>
      <a href="https://twitter.com/astrodotbuild" target="_blank" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100 transition">
        <i class="ri-twitter-x-line text-2xl"></i>
      </a>
      <a href="https://github.com/withastro/astro" target="_blank" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100 transition">
        <i class="ri-github-line text-2xl"></i>
      </a>
    </div>
  </div>
</footer>
