---
import { SITE_TITLE,AVATAR_URL } from "../config";
import HeaderLink from "./HeaderLink.astro";
import defineConfig from "../../astro.config.mjs";
---

<header>
  <nav>
    <div class="nav-container flex items-center justify-between">
      <div class="avatar">
		<a href={defineConfig.site}>
		<img src={AVATAR_URL} class="w-11 rounded-md">
		</a>
	  </div>
      <div class="internal-links space-x-5">
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
      </div>
    </div>
  </nav>
</header>
