---
import { SITE_TITLE, AVATAR_URL } from "../config";
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <div class="nav-container flex items-center justify-between">
      <div class="avatar">
        <img
          src={AVATAR_URL}
          id="theme-toggle"
          class="w-11 rounded-md cursor-pointer"
        />
      </div>
      <div class="internal-links space-x-5">
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
      </div>
    </div>
  </nav>
</header>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const getTheme = () =>
      localStorage.getItem("theme") ||
      (window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light");
    const html = document.documentElement;
    html.classList.toggle("dark", getTheme() === "dark");
    document.getElementById("theme-toggle")?.addEventListener("click", () => {
      const isDark = html.classList.toggle("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
  });
</script>
